# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
.env
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest
.cache/
.pytest_cache/

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Environment variables
.env

# Python wheels
*.whl

# pip logs
pip-log.txt

# MyPy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
*.py,cover

# PyInstaller
*.manifest
*.spec

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Hugging Face cache
~/.cache/huggingface/

# Local dev tools
.idea/
".env" 
